<div class="text-left">
  <h4 class="text-muted"><span class=" glyphicon glyphicon-hand-right"></span>ユーザーがミュージシャンのセットリストを登録し、共有するサービスです</h4>
  <h4 class="text-muted"><span class=" glyphicon glyphicon-hand-right"></span>ユーザー登録しなくても、セットリストを投稿することはできませんが、閲覧・編集することはできます</h4>
  <h4 class="text-muted"><span class=" glyphicon glyphicon-hand-right"></span>ユーザー登録するとお気に入りのミュージシャンと参加したライブを登録することができるようになります</h4>
  <h4 class="text-muted"><span class=" glyphicon glyphicon-hand-right"></span>まずは右上の検索バーからミュージシャンを検索してみましょう</h4>
</div>
