<div class="col-sm-12 text-center">
  <img src='/assets/live.jpg' />
</div>

<br>

<div class="col-lg-offset-1 col-sm-offset-0 col-sm-12 col-lg-10 text-left">
  <h4><strong>1997年に日本で初めてロック・フェスティバルが開催されてから年々フェスは増え続けています。近年ではフェスやライブに行くことがブームとなっており、自分の行ったライブのセットリストを後から確認したり、これから行くライブの予習をしたいということもあると思います。</strong></h4>
  <h4><strong>このMyFavoriteSongではユーザー同士が共有する形でセットリストを共有することができます。</strong></h4>

  <br>

  <h2><strong>セットリストの登録方法</strong></h2>
  <ol>
    <h4><strong><li>ログインしましょう（ログインしなくても、セットリストの閲覧・編集は行うことができます）</li></strong></h4>
    <h4><strong><li>セットリストを追加したいミュージシャンを右上の検索バーから検索してください</li></strong></h4>
    <h4>もし、ミュージシャンが登録されていなければ「+Add Musician」からミュージシャンを追加してください</h4>
    <img src='/assets/add_musician.png', width="640", height="288" />
    <h4><strong><li>ミュージシャンページの「+Add Setlist」からセットリストを追加してください</li></strong></h4>
  </ol>

  <h2 class="text-muted"><strong>その他機能</strong></h2>

  <div class="col-sm-12 col-lg-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>メール通知機能</strong></h3>
      </div>
      <div class="panel-body text-center">
        <img src='/assets/mail.png', width="100", height="100" />
        <h4>ユーザーがお気に入りに登録したミュージシャンのセットリストが追加されるとメールで通知されます。</h4>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Twitter連携機能</strong></h3>
      </div>
      <div class="panel-body text-center">
        <img src='/assets/twitter.png', width="100", height="100" />
        <h4>ライブに関する直近1週間以内のツイートを表示します。twitterアカウントでログインすることも可能です。</h4>
      </div>
    </div>
  </div>
</div>
