<div class="row">
  <div class="col-xs-8">
    <ul>
      <li><%= @setlist.title %></li>
      <li><%= @musician.name %></li>
      <li><%= @setlist.date %></li>
      <li><%= @setlist.place %></li>
    </ul>
  </div>
</div>