<% if setlists.any? %>
  <ul class="media-list">
    <% setlists.each do |setlist| %>
      <li class="media">
        <div class="media-body">
          <div>
            <p><%= link_to setlist.title, setlist_path(setlist) %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>