<div class="row">
  <div class="col-xs-12 col-md-12">
    <h2 class="font_lg"><strong>Favorite Musician of <%= @user.name %><span class="badge"><%= @count_favorites %></span></strong></h2>
    <%= render 'musicians', musicians: @favorites %>
    <%= paginate @favorites %>
  </div>
</div>
