<div class="row">
    <div class="col-xs-12 col-md-12">
    <h2>Favorite Musician of <%= @user.name %><span class="badge"><%= @count_favorites %></span></h2>
    <%= render 'musicians', musicians: @favorites %>
    <%= paginate @favorites %>
    </div>
</div>