<div class="row">
    <div class="col-xs-12 col-md-8">
    <h2>Joined Live of <%= @user.name %><span class="badge"><%= @count_joined %></span></h2>
    <%= render 'setlists', setlists: @joinlives %>
    <%= paginate @joinlives %>
    </div>
</div>