<div class="row">
  <div class="col-xs-12 col-md-8">
    <h2 class="font_lg"><strong>Joined Live of <%= @user.name %><span class="badge"><%= @count_joined %></span></strong></h2>
    <%= render 'setlists', setlists: @joinlives %>
    <%= paginate @joinlives %>
  </div>
</div>
