<div class="center jumbotron">
    <div class="text-center">
      <h1>MyfavoriteSong</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
    <div class="text-center">
      <h4>ユーザーがミュージシャンのセットリストを登録し、共有するサービスです</h4>
      <h4>ユーザー登録しなくても、セットリストを投稿することはできませんが、閲覧・編集することはできます</h4>
      <h4>ユーザー登録するとお気に入りのミュージシャンと参加したライブを登録することができるようになります</h4>
      <h4>まずは<%= link_to 'こちら', search_musicians_path %>からミュージシャンを検索してみましょう</h4>
    </div>
</div>


