@import "bootstrap-social";
@import "font-awesome";


h4 {
  line-height: 1.5
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5fffa;
}

.inline-right {
  float: right;
}

.inline-left {
  float: left;
  border: 0;
}

.navbar {
  color: white;
  background-color: #85beab;
  border: 0px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .nav > a {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .navbar-brand,
.navbar-inverse .nav > li > a {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .nav > li > a:focus {
  color: #aaaaaa;
}

.navbar-nav > .dropdown.open > a.dropdown-toggle {
  background-color: #629c89;
}

.link_hover {
  font-family: メイリオ;
  color: #007766;
}

.font_lg {
  font-family: メイリオ;
  color: #007766;
}

.link_hover:hover {
  color: #007766;
  font-size: 110%;
}

.link_hover_sm {
  font-family: メイリオ;
  color: black;
}

.link_hover_sm:hover {
  color: #007766;

}


.musician_panel {
  border: 10px;
}

.musician_heading {
  background-color:#85beab;
}

.musician_name {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#search {
  margin-top: 8px;
}

#main_title {
  color: #f3ecec;
  font-family: メイリオ;
  text-shadow: 0px 0px 10px #3d3d3d;
}



footer {
  margin-top: auto;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color:#85beab;
}

img {
	max-width: 100%;
	height: auto;
}
