@import "bootstrap-social";
@import "font-awesome";
 
 #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  footer {
    margin-top: auto;
    color: #696969;
    background-color: black;
  }

.inline-right {
  float: right;
}

.inline-left {
  float: left;
}

.navbar {
  color: white;
}
#search {
  margin-top: 8px;
}

